#cal-container {
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

#msg-container {
  height: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.msg-line {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.msg-username {
  margin-right: 20px;
  font-weight: bold;
}

#chat-input {
  width: 50%;
  height: 50px;
  margin-top: 20px;
  background:lightblue;
  border: none;
  border-radius: 10px;
}