@import '~antd/dist/antd.css';
.parentCardContainer {
  display: flex;
  flex-direction: row;
}
.loginContainer {
 display: flex;
 flex-direction: column;
 height: 100vh;
 justify-content: center;
 align-items: center;
 background: linear-gradient(45deg, hsla(0, 0%, 0%, 1) 24%, hsla(332, 71%, 47%, 1) 100%);
}

.rangeSelectorContainer {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rangeSelector {
  margin-left: 10px;
}

.rangeSelector:hover{
  cursor: pointer;
  text-decoration: underline;
}

.childCardContainer {
  display: flex;
  flex-direction: row;
}
.graphHolder {
  width: fit-content;
  height: fit-content;
}
.ant-menu-inline {
  width: 100;
  height: 100vh;
}
.apiMethod {
  display: flex;
  flex-direction: column;
  height: 5px;
}
.cardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-right: 20px;
}
.addService {
  width: 100%;
  height: 100%;
  justify-content: center;
}
.aggregate {
  display: flex;
  flex-direction: row;
}
.title {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#serviceContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto
}
.dataContainer {
  border: 1px solid black;
  background-color: white;
  margin: 5px;
  align-items: center;
  justify-content: center;
  align-self: center
}
#chartContainer {
  flex-grow: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px;
  height: 100%;
}
#dashboard {
  //flex-grow: 10;
  // justify-content: stretch;
  // align-items: stretch;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}
