@import "~antd/dist/antd.css";


.logo {
  width: 178px;
  margin-bottom: 25px;
}
.parentCardContainer {
  display: flex;
  flex-direction: row;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.rangeSelectorContainer {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
// .signInCard {
//   boxShadow: "5px 8px 24px 5px rgba(208, 216, 243, 0.6)" 
// }
.loading {
  display: flex;
  width: 100%;
  height: 100%;
  place-content: center;
  padding-top: 350px !important;
}

.rangeSelector {
  margin-left: 10px;
}

.rangeSelector:hover {
  cursor: pointer;
  text-decoration: underline;
}

.childCardContainer {
  display: flex;
  flex-direction: row;
}
.graphHolder {
  width: fit-content;
  height: fit-content;
}
.ant-menu-inline {
  width: 100;
  height: 100vh;
}
.apiMethod {
  display: flex;
  flex-direction: column;
  height: 5px;
}

.addService {
  width: 100%;
  height: 100%;
  justify-content: center;
}
.aggregate {
  display: flex;
  flex-direction: row;
}

.title {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#serviceContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.dataContainer {
  border: 1px solid black;
  background-color: white;
  margin: 5px;
  align-items: center;
  justify-content: center;
  align-self: center;
}
#chartContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px;
  height: 100%;
}
#dashboard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px;
  height: 100%;
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

//box-shadow: 0px 4px 4px 0px rgba(90, 93, 112, 0.6)
// box-shadow: rgba(46, 45, 45, 0.16) 0px 3px 6px, rgba(46, 45, 45, 0.16) 0px 3px 6px;